.full {
  width: 100%;
}

img {
  width: 25px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  max-height: 350px;
}

.pointer {
  cursor: pointer;
}

table {
  background-color: cyan;
}

th {
  background-color: plum;
}

.mat-option img {
  margin-top: 25px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3px;
}

.left-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3px;
}

.right-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.bottom-controls{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
