.full {
  width: 100%;
}

img {
  width: 25px;
  margin: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    max-height: 350px;
}

table {
  background-color: cyan;
}

th {
  background-color: plum;
}

.mat-option img{
  margin-top: 25px;
}

.filters{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-filters{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3px;
}

.right-filters{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
