<div class="container">
  <ng-container
    *ngIf="data.selectedCards.length <= 45 && createNewOrAdd === 'CREATE_NEW'"
  >
    <h1 mat-dialog-title>
      Add {{ data.selectedCards.length }} card{{
        data.selectedCards.length > 1 ? "s" : ""
      }}
      to new collection ?
    </h1>
    <p>
      (Or add to an
      <span (click)="createNewOrAdd = 'ADD'" class="toggle"
        >existing collection</span
      >)
    </p>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        [formControl]="collectionname"
        placeholder="Name your collection"
        required
      />
    </mat-form-field>
    <button (click)="addToNewCollection(data.selectedCards)" mat-stroked-button>
      <mat-icon>add</mat-icon>
      Create new
    </button>
  </ng-container>
  <ng-container *ngIf="data.selectedCards.length > 45">
    <h1 mat-dialog-title>
      Collections can have a maximum of 45 cards. Edit your selection and try
      again
    </h1>
  </ng-container>
  <ng-container
    *ngIf="data.selectedCards.length <= 45 && createNewOrAdd === 'ADD'"
  >
    <app-existing-collections-dialog
      (updated)="dialogRef.close()"
      [cards]="data.selectedCards"
    ></app-existing-collections-dialog>
  </ng-container>
  <div class="error">
    <mat-error *ngIf="error">{{ error }}</mat-error>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</div>
