mat-grid-tile {
  background-color: aqua;
  border-radius: 5px;
  cursor: pointer;
}

mat-card {
  background-color: plum;
}

.tile-content {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full {
  width: 100%;
}

table img {
  width: 25px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  max-height: 350px;
}

.pointer {
  cursor: pointer;
}

table {
  background-color: cyan;
}

th {
  background-color: plum;
}

.bottom-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.right-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3px;
}
