.card-container {
  border: black solid 3px;
  background-color: black;
  border-radius: 5px;
  transform: rotate(-15deg);
}

.small img {
  max-width: 50px;
}

.large img {
  max-width: 100px;
}

img {
  display: block;
}

.card-one {
  transform: rotate(-10deg);
}

.card-two {
  transform: rotate(15deg);
}

.card-three {
  transform: rotate(40deg);
}

.container {
  display: flex;
  flex-direction: row;
}
