.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
}

.logout{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
