<div class="container">
  <mat-card>
    <ng-container *ngIf="card">
      <app-single-card [cardUrl]="card"></app-single-card>
      <mat-card-actions>
        <button mat-stroked-button (click)="createAnother()">
          Create another?
        </button>
      </mat-card-actions>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <div class="loading">
        <img src="assets/images/illustrations/PLEASEWAIT.png" alt="wait" />
        <marquee scrolldelay="50" width="100%"> please wait... </marquee>
      </div>
    </ng-container>
    <ng-container *ngIf="!isLoading && !card">
      <mat-card-title>Create a card</mat-card-title>
      <mat-card-subtitle
        >Upload an image to be converted in to a Snail card</mat-card-subtitle
      >
      <form [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="cardname"
            placeholder="Name your card"
            required
          />
        </mat-form-field>
        <button mat-stroked-button (click)="fileInput.click()">
          <mat-icon>add</mat-icon>Upload image
        </button>
        <input
          #fileInput
          hidden
          type="file"
          accept="image/png, image/jpeg"
          (change)="setFile($event)"
        />
        <mat-card-content>{{ file?.name }}</mat-card-content>
      </form>
      <div class="image-button-container">
        <button
          (click)="uploadFile()"
          mat-stroked-button
          [disabled]="!file || !form.valid"
        >
          Generate card
        </button>
        <img src="assets/images/illustrations/CREATE.png" alt="creative" />
      </div>
    </ng-container>
  </mat-card>
</div>
